/*Kiran Aryal 17421495*/
body{
  margin:0;
  /*background-color: #FEF9BD;*/
  background-image: url("../images/wall.jpg");
}

h1,h2,h3,h4,h5,h6,p{
    margin:0;
  }

.container{
  margin: 0 15%;
}

header{
  padding: 1%;
  /*background-color: #FAFBFC;*/
  /*background: radial-gradient(#d4e4ef 0%, #86aecc 100%);*/
  background-image: url("../images/header.jpg");
}

.navbar ul li a{
  text-decoration:none;
}

li{
  list-style:none; letter-spacing: 2px;
  display:block;
  font-family: 'Orbitron', sans-serif;
}

.logo{
  position:absolute;
  margin-top: 0.5%;
  padding: 0.5%;
}

.logo img{
  border-radius: 100%;
}

.logo img:hover{
  transform: scale(0.9);
  opacity:0.9;
}


.mainhead{
  margin-left: 8%;
  margin-top:0.5%;
  padding:1%;
  width: 60%;
}

.mainhead h2{
  letter-spacing: 5.5px; font-size: 2.8em;
  font-family: 'Orbitron', sans-serif;

}

.mainhead h4{
letter-spacing: 7px;
font-family: 'Josefin Slab', serif;

}


.navbar{
  width:50%;
  margin-left: 50%;

}

@media (max-width:1000px){ /*Navigation bar responsive*/
  .navbar ul{
    flex-direction: column;
    margin-left:-20%;
  }
}

ul{
  display:flex; flex-direction:row; justify-content: space-between;
  /*background-color: #FAFBFC;*/
  /*background-color: radial-gradient(#d4e4ef 0%, #86aecc 100%);*/

}

ul li:hover{
  transform: rotate(-10deg) scale(1.1); /*When user hovers to items eg. C.V., Bio. etc, it rotates anti-clockwise 10degree and zooms*/
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px gray;



}

a{
color:black;
}

a:active {
    color: lightblue;
}

section{
  /*background: radial-gradient(#93cede 0%, #75bdd1 41%, #49a5bf 100%);*/
  /*background: radial-gradient(#cccccc, #b2b2b2); */
  background-image: url("../images/sec.jpg");

  padding:1%;
}

.minepic{
  text-align: center;
  margin-top: 1.5%;
}

.minepic img{
  border-radius:100%;
  height:250px; width:240px;
  opacity: 1;
  border: 3px solid #F0F8FF;

}

/*Zooming slowly the pic when hovering and opacity increases*/
  .minepic img:hover{
  transition: all 2s ease-in-out 1s;
  -webkit-transition: all 2s ease-in-out 1s;
  transform: scale(1.1, 1.1);
  -webkit-transform: scale(1.1, 1.1);
  transition-delay: 0.2s;
  -webkit-transition-delay: 0.2s;
  opacity: 0.95;
}

.sechead{
text-align: center;
}

.sechead h1{
  letter-spacing: 18px; margin-top: 1%;
  font-family: 'Josefin Slab', serif;
}

.sechead p{
  text-align: center;
  margin-top: 0.5%;
  font-family: 'Dancing Script', cursive;
  margin-bottom: 1%;

}

footer{
  display:flex; flex-direction:row; justify-content: space-between;
  /*background: linear-gradient(#cccccc, #FAFBFC); */
  /*background: radial-gradient(#d4e4ef 0%, #86aecc 100%);*/
  background-image: url("../images/header.jpg");
  padding:3%;


}

.Call{
  display: flex;
}
  .Call div:first-child{width: 25%;}
  .Call div:last-child{width:75%;}


.Call h4{
  font-family: 'Orbitron', sans-serif;
}

.Call p{
  font-family: 'Macondo', cursive;
}

footer div{width: 33%;}

.Contact{
 display:flex;
 }
 .Contact div:first-child{width: 25%;}
 .Contact div:last-child{width: 75%;}

.Contact h4
{
font-family: 'Orbitron', sans-serif;
}

.Contact p{
font-family: 'Macondo', cursive;
}


.Copyright{
  display:flex; flex-direction: row;
}
  .Copyright div:first-child{width:25%;}
  .Copyright div:last-child{width:75%;}

.Copyright h4
{
font-family: 'Orbitron', sans-serif;
}

.Copyright p{
font-family: 'Macondo', cursive;
}


/*Curriculum Vitae page css starts*/
section .mine_info .detail h2{
    letter-spacing: 3px; margin-bottom: 1%;
    font-family: 'Orbitron', sans-serif;

  }

section .mine_info p{
    letter-spacing: 1px;
  }

section .mine_info h3{
  font-family: 'Josefin Slab', serif;
  margin-bottom:3px; text-decoration: underline;
  }

section .mine_info .detail .cvcon{
  font-family: 'Josefin Slab', serif;
}

.education{
  font-family: 'Josefin Slab', serif;
}

.Training{
  font-family: 'Josefin Slab', serif;
}

.lang{
  font-family: 'Josefin Slab', serif;
}

.skill{
  font-family: 'Josefin Slab', serif;
}

.hobby{
  font-family: 'Josefin Slab', serif;
}

/*Contact page css starts*/
.contctpage .form h3{
  font-family: 'Orbitron', sans-serif;
}

.contctpage .form button{
  font-family: 'Orbitron', sans-serif;
}

.contctpage .form .texti{
  font-family: 'Josefin Slab', serif
}

.education table th, td{
  padding: 10px;
  border: 1px solid black;
}

/*Bio page css starts*/
.secpic{
margin-top: 1%;
text-align: center;
margin-bottom: 1%;
}

.secpic img{
  border-radius: 100%;
  height:300px; width:300px;
  border: 3px solid #F0F8FF;
}

.mybio{
  font-family: 'Dancing Script', cursive;
}

.secpic img:hover{
  opacity: 0.9;
}

.video{
  text-align:center;
  margin-bottom: 1%;
}

.video iframe{
  width: 520px; height: 300px;
  border: 2px solid black;
  border-radius: 10px;
}

.mybio h3{
  text-align: center; text-decoration: underline;
}

.mybio p{
  text-align:center;
}
